#!/usr/bin/env zsh

export ARM_subscription_id="f351ddd1-6c1d-4cd4-8b0f-d596376f90d5"
export ARM_tenant_id="152e4c75-3657-4284-bb2c-0d825873d72b"

json=$(az keyvault secret show \
    --subscription $ARM_subscription_id \
    --id https://kv-hub-tf.vault.azure.net/secrets/Provider/274a1ab657ee462596a987c680d0db62 |
    jq --raw-output '.value')

export ARM_client_id=$(echo $json | jq --raw-output .appId)
export ARM_client_secret=$(echo $json | jq --raw-output .password)
export ARM_SKIP_PROVIDER_REGISTRATION="true"
